<form class="add-customer" [formGroup]="customerForm">
    <mat-form-field class="add-customer-field">
      <input matInput placeholder="First Name"  formControlName="firstName">
    </mat-form-field>

    <mat-form-field class="add-customer-field">
      <input matInput placeholder="Last Name" formControlName="lastName">
    </mat-form-field>

    <mat-form-field class="add-customer-field">
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field class="add-customer-field">
        <mat-label>Gender</mat-label>
        <select formControlName="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Not Sure">Not Sure</option>
        </select>
      </mat-form-field>
      <button mat-button color="primary">Add Customer</button>
  </form>