<form class="add-customer" [formGroup]="customerForm">
    <h1>Add Customer</h1>
    <mat-form-field class="add-customer-field">
      <input matInput placeholder="First Name"  formControlName="firstName">
      <mat-error *ngIf = "firstName.hasError('required')">
        {{'Please enter first name'}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="add-customer-field">
      <input matInput placeholder="Last Name" formControlName="lastName">
      <mat-error *ngIf = "firstName.hasError('required')">
        {{'Please enter last name'}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="add-customer-field">
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf = "firstName.hasError('required')">
        {{'Please enter valid email'}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="add-customer-field" >
        <mat-label>Gender</mat-label>
        <select matNativeControl formControlName="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Not Sure">Not Sure</option>
        </select>
      </mat-form-field>
  </form>
  <button (click)="Submit()" class="submit-button" [disabled]="formGroupValidation" mat-raised-button color="primary">Submit</button>
