/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgb(245, 245, 245);
  z-index: 999;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(195, 199, 201);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(170, 170, 180);
}